.paysContainer {
  position: relative;
  border: 2px solid var(--couleur-gris-smok);
  border-radius: var(--button-border-radius);
}

.countryData {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
}

.countryData span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

.region {
  color: var(--couleur-gris-claire);
}
