.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: var(--couleur-blanche);
}

.navbarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
